html {
  font-family: 'Press Start 2P', cursive;
  // font-size: 1.125rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

body {
  background-image: url(../images/background-checks-75pc.png);
}
