.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Press Start 2P', cursive;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

body {
  background-image: url(../images/background-checks-75pc.png);
}

.game-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1.75em 0.45em 0;
  // outline: 2px solid green;
  @media (max-width: 800px) {
    padding-top: 0.5em;
  }
}
