button {
  background-color: #3399ff;
  color: white;
  cursor: pointer;
  width: 75%;
  border-radius: 8px;
  padding: 7.5px 0;
  font-family: inherit;
}

.instructions {
  font-size: 0.7rem;
}

.game-over {
  flex-basis: 400px;
  align-self: center;
}

footer {
  background-color: lightblue;
  background-color: rgba(167, 207, 226, 0.85);
  border-radius: 15px;
  font-size: 12px;
  margin: 50px auto;
  padding: 7px;
  text-align: center;
  text-shadow: 1px 1px 1px darkgrey;
  max-width: 750px;
}

footer p {
  padding-top: 5px;
}

a {
  color: #3399ff;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #b45922;
}
