.game-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
  outline: 1px solid red;
}

// 10x18 plus row of 10 hidden squares
.game-grid {
  position: relative;
  box-sizing: content-box;
  border: 12px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #aaa;
  width: 100%;
  max-width: 400px;
  // max-height: 720px;
  display: grid;
  grid-template-columns: repeat(10, minmax(20px, 40px));
  background-color: #ffd37b;
}

.cell {
  aspect-ratio: 1; // makes sure cells are square
  // outline: 1px solid gray;
}

.hidden {
  display: none; /* removes invisible bottow row from html */
}

.tetromino {
  border: 2px solid black;
}

.info-panel-container {
  width: 250px;
  height: 500px;
  margin-left: 50px;
}

.nextup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 200px;
  // height: 200px;
  margin: 25px auto;
  padding: 5%;
  background-color: white;
  border: 8px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #aaa;
}

.nextup-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 40px));
}

.nextup-grid div {
  aspect-ratio: 1; // makes sure cells are square
  // outline: 1px solid gray;
}

.info {
  margin-bottom: 15px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  background-color: #3399ff;
  color: white;
  cursor: pointer;
  width: 75%;
  border-radius: 8px;
  padding: 7.5px 0;
  font-family: inherit;
}

.instructions {
  font-size: 0.7rem;
}

.game-over {
  position: absolute;
  inset: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
}
