* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.42857143;
  font-size: 1.125rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

body {
  background-image: url(./images/background-checks-75pc.png);
}

header {
  display: flex;
  background-color: lightblue;
  background-color: rgba(167, 207, 226, 0.85);
  height: 100px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-family: 'Vollkorn', serif;
  text-shadow: 3px 3px 1px #aaa;
}

#header-img {
  height: 90px;
  margin-left: 1%;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
}

.grid-border {
  border: 12px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #aaa;
}

.grid {
  width: 400px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffd37b;
}

.grid div {
  height: 40px;
  width: 40px;
  /* border: 0.5px solid gray; */
}

.hidden {
  display: none; /* removes invisible bottow row from html */
}

.tetromino {
  border: 2px solid black;
}

.sidebox {
  width: 250px;
  height: 500px;
  margin-left: 50px;
}

.mini-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 25px auto;
  background-color: white;
  border: 8px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #aaa;
}

.mini-grid {
  margin: auto;
  width: 160px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  height: 40px;
  width: 40px;
}

.info {
  margin-bottom: 15px;
  /* padding: 0 20px; */
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
  /* border-radius: 5px; */
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  background-color: #3399ff;
  color: white;
  cursor: pointer;
  width: 75%;
  border-radius: 8px;
  padding: 7.5px 0;
  font-family: inherit;
}

.instructions {
  font-size: 0.7rem;
}

.game-over {
  flex-basis: 400px;
  align-self: center;
}

footer {
  background-color: lightblue;
  background-color: rgba(167, 207, 226, 0.85);
  border-radius: 15px;
  font-size: 12px;
  margin: 50px auto;
  padding: 7px;
  text-align: center;
  text-shadow: 1px 1px 1px darkgrey;
  max-width: 750px;
}

footer p {
  padding-top: 5px;
}

a {
  color: #3399ff;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #b45922;
}
